{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <h1><a class="article-title">{{ post.title }}</a></h1>
    <a class="mr-2" href="#">{{ post.author }}</a></br>
    <small class="mr-2">{{post.created_on}}</small></br>
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <small><a href='{% url 'update-post' post.pk %}'>Edit</a></small></br>
        {% endif %}
    {% endif %}
    {{ post.content|safe|linebreaksbr }}
    {% if post.article_image %}
        <img src="{{post.article_image.url}}" class="article-image">
    {% endif %}

    <br></br>
    <hr>
    </br>
    <form action="{% url 'like_post' post.pk %}" method="POST">
        {% csrf_token %}

        {% if user.is_authenticated %}
            {% if liked %}
                <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">Unlike</button>
            {% else %}
                <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button>
            {% endif %}
        {% else %}
            <small>Must be logged in to like</small>
        {% endif %}
        {{ total_likes }} likes
        
    </form>
    
{% endblock content %}
