{% load static %}
<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Anthropology and Human Genetics</title>
    </head>

    <header class="site-header">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
                <a class="navbar-brand" href="{% url 'blog-home' %}">
                    <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
                    Anthropology and Human Genetics
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="{% url 'blog-home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin">Admin <span class="sr-only">(current)</span></a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
            </nav>        

    </header>

    <div class="wrapper">
        <nav
        id="sidebarMenu"
        class="collapse d-lg-block sidebar collapse bg-white"
        >
            <div class="position-sticky">
                <div class="list-group list-group-flush mx-3 mt-4">
                    <a
                        href="{% url 'blog-home' %}"
                        class="list-group-item list-group-item-action py-2 ripple"
                        aria-current="true"
                        >
                    <i class="fas fa-tachometer-alt fa-fw me-3"></i
                        ><span>Home</span>
                    </a>
                    <a
                        href="{% url 'blog-about' %}"
                        class="list-group-item list-group-item-action py-2 ripple"
                        aria-current="true"
                        >
                    <i class="fas fa-tachometer-alt fa-fw me-3"></i
                        ><span>About</span>
                    </a>
                    <a
                        href="{% url 'blog-news' %}"
                        class="list-group-item list-group-item-action py-2 ripple"
                        aria-current="true"
                        >
                    <i class="fas fa-tachometer-alt fa-fw me-3"></i
                        ><span>News</span>
                    </a>
                    
                </div>
            </div>
        </nav>

        <div class="justify-content-center">
            {% block content %}{% endblock %}
        </div> 
    </div>
    
</html>

