{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static " css /main02.css" %}" />
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Anthropology and Human Genetics</title>
    </head>
<body class="container">
    
    <header class="site-header">
        <a class="navbar-title" href="{% url 'blog-home' %}">Anthropology and Human Genetics</a>
        <div class="logins">
            <a href="/admin">
                <button class="button login-button">Admin</button>
            </a>
            <a href="/#">
                <button class="button login-button">Register</button>
            </a>
        </div>
    </header>
    <main role="main" class="container02">
        <div class="row">
          <div class="col-md-8">
            {% block content %}{% endblock %}
          </div> 
        </div>
     </main>
     
     <div class="sidenav">
        <a href="/home">
            <button class="button">Home</button>
        </a>
        <a href="/about">
            <button class="button">About</button>
        </a>
        <a href="/news">
            <button class="button">News</button>
        </a>
     </div>
          
</body>
</html>

