{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static "css/main02.css" %}" />
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        {% if title %}
            <title>Django blog - {{ title }}</title>
        {% else %}
            <title>Django blog</title>
        {% endif %}
    </head>
<body class="container">
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">Anthropology</a>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    <a class="nav-item nav-link login" href='/admin'>Admin</a>
                    <a class="nav-item nav-link login" href="#">Register</a>
                </div>
            </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container02">
        <div class="row">
          <div class="col-md-8">
            {% block content %}{% endblock %}
          </div> 
        </div>
     </main>
     
     <div class="sidenav">
       <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
       <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
       <a class="nav-item nav-link" href="{% url 'blog-news' %}">News</a>
     </div>
          
</div>
</body>
</html>

