{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    {% for post in post_list  %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
                <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <a class="mr-2" href="#">{{ post.author }}</a>
            <p class="article-content">{{ post.content|truncatewords:20 }}</p>
        </div>
    </article>
        
    {% endfor %}
    <!--<link rel="stylesheet" href="{% static "css/main02.css" %}" />-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    
{% endblock content %}