.navbar-brand
{
    font-family: 'Lato', sans-serif;
    color:rgb(156, 0, 0) !important;
    font-size: 25px;
    margin: 0px;
    margin-right:50px;
}

.navbar-brand img
{
    width: 60px;
    height: 60px;
    margin-right:50px;
}

#navbarID
{
    background-color: #9df8b4 !important;
}

.sidenav-button
{
    color: rgb(255, 38, 103) !important;
    font-size: 20px;
}
