
body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    gap: 10px;
    background: #d9dbbf;
    color: #4f4d4d;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #eb4034;
  }
  
  title {
    color: #25c2b5;
  }
  
  a{
    color: #2038ab;
  }
   
  ul {
    margin: 30;
  }
  
  .content-section {
    background: #bdc730;
    padding: 10px 20px;
    border: 20px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .site-header{
    height: auto;
    width: auto;
    padding: 10px 10px;
    border: 10px solid #dddddd;
    border-radius: 10px;
    margin-bottom: 20px;
    grid-column: 1/4;
    grid-row: auto;
    background: #c8ed8c;
  }
  
  /*.container{
    padding: 10px 20px;
    margin-right: 50px;
    margin-left: 50px;
  }*/
  
  .container02{
    grid-row: 2;
    grid-column: 2/4;
    margin-right: 50px;
    margin-left: 50px;
  }
  
  .navbar-nav{
    margin-right: 20px;
    margin-left: 20px;
  }
  
  .navbar-toggler{
    height: 150px;
    width: 150px;
  
  }
  
  .sidenav{
    grid-column: 1;
    height: 500px;
    width: 150px;
    background: #6d79bf;
  }

  .navbar-nav {
    color: #1fa11f;
    text-align: right;
  }
   
  .nav-item .nav-link {
    color: #1fa11f;
  }
  
  /*.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    gap: 10px;
  }*/

  